@import './darkmode';

body {
	background: #1f1f1f !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
div {
	color: white !important;
}
.makeStyles-button-15 {
	margin-top: 0% !important;
	margin-left: 0% !important;
}

.btn-secondary {
	background-color: #3dd115 !important;
	border: none !important;
	&:hover {
		background-color: #87f06a !important;
	}
}

.btn-primary,
.modal-header {
	background-color: #292929 !important;
	border: none !important;
	&:hover {
		background-color: #333 !important;
	}
}

.offcanvas {
	background-color: #4d4d4d !important;
}

.card {
	border: 1px solid #3dd115 !important;
	background-color: inherit !important;
}

.newest-title {
	background-color: #3dd115;
}

.card-body,
.modal-header,
.accordion-button {
	background-color: #1f1f1f !important;
	color: white !important;
}
.custom-button-container {
	background-color: #151515;

	border-radius: 0 0 0.25em 0.25em;
	border-top: 1px solid #3dd115;
	.custom-button-1,
	.custom-button-2 {
		cursor: pointer;
		padding: 2% 2%;
		&:hover {
			background-color: #212121;
			color: #3dd115 !important;
		}
	}
	.custom-button-1 {
		border-right: 1px solid #3dd115;
		width: 50%;
		text-align: center;
	}
	.custom-button-2 {
		width: 50%;
		text-align: center;
	}
}

.card-title {
	margin: 0 !important;
	padding: 2% 0%;
	border-radius: 0.25em 0.25em 0 0;
}

.accordion-button::after {
	background-image: url('../images/down-arrow.svg') !important;
}

.modal-body,
.accordion-body {
	background-color: #333 !important;
}

.modal-content img {
	background-color: #333 !important;
}

.modal-footer {
	background-color: #333 !important;
	border-top: 1px solid #3dd115 !important;
}

.MuiInput-root:before {
	border-bottom: #fff 1px solid !important;
}

.MuiStepLabel-label.MuiStepLabel-active {
	color: #fff !important;
}

.MuiStepIcon-root.MuiStepIcon-completed,
.MuiStepLabel-completed {
	color: #3dd115 !important;
}

.Mui-focused {
	color: #fff !important;
}

.MuiSelect-icon {
	color: #fff !important;
}

.clock-icon-span .MuiSvgIcon-root {
	height: 0.7em;
}

.MuiButton-textPrimary {
	color: #3dd115 !important;
}

.makeStyles-button-10 {
	margin-top: 0% !important;
}

.makeStyles-cardText-4,
.grey-text-card {
	color: rgba(255, 255, 255, 0.7) !important;
}
