@import './darkmode';
@import './skeleton';
@import './lightMode';

.dark {
	background: #1f1f1f !important;
}

.light {
	background: #eef1f4;
}

.light #root {
	background: #eef1f4;
}

.dark #root {
	background: #1f1f1f !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
div {
	color: white !important;
}

h1 .light,
h2 .light,
h3 .light,
h4 .light,
h5 .light,
h6 .light,
p .light,
li .light,
.light div {
	color: black !important;
}

.tags {
	color: #3dd115;
	text-decoration: none;
}

.card {
	border: none !important;
}

.makeStyles-button-15 {
	margin-top: 0% !important;
	margin-left: 0% !important;
}

.btn-secondary {
	background-color: #3dd115 !important;
	border: none !important;
	&:hover {
		background-color: #87f06a !important;
	}
}

.btn-primary,
.modal-header {
	background-color: #292929 !important;
	border: none !important;
	&:hover {
		background-color: #333 !important;
	}
}

.accordion-button {
	background: #1f1f1f !important;
}

.offcanvas {
	background-color: #4d4d4d !important;
}

.newest-title {
	background-color: #3dd115;
}

.raid-message {
	color: rgba(255, 255, 255, 0.7) !important;
}

.raids-title {
	font-family: 'IM Fell English SC', serif;
	text-align: center;
}

.card-body,
.modal-header,
.accordion-button {
	background-color: #1f1f1f;
	color: white !important;
}
.custom-button-container {
	background-color: #151515;

	border-radius: 0 0 0.25em 0.25em;
	border-top: 1px solid #3dd115;
	.custom-button-1,
	.custom-button-2 {
		cursor: pointer;
		padding: 2% 2%;
		&:hover {
			background-color: #212121;
			color: #3dd115 !important;
		}
	}
	.custom-button-1 {
		border-right: 1px solid #3dd115;
		width: 50%;
		text-align: center;
	}
	.custom-button-2 {
		width: 50%;
		text-align: center;
	}
}

.modal-body-container {
	position: relative;
	.edit {
		position: absolute;
		top: 0%;
	}
}

.modal-header {
	.MuiButton-outlinedPrimary {
		border-color: white;
		color: white;
		padding: 5px 5px;
	}
	.MuiButton-outlinedPrimary:hover {
		border-color: white;
		color: white;
	}
}

.card-title {
	margin: 0 !important;
	padding: 2% 0%;
	border-radius: 0.25em 0.25em 0 0;
}

.accordion-button::after {
	background-image: url('../images/down-arrow.svg') !important;
}

.modal-body,
.accordion-body {
	background-color: #333 !important;
}

.MuiFormLabel-root {
	color: #fff !important;
}

.MuiIconButton-root {
	color: #fff !important;
}

.modal-content img {
	background-color: #333 !important;
}

.modal-footer {
	background-color: #333 !important;
	border-top: 1px solid #3dd115 !important;
}

.MuiInput-root:before {
	border-bottom: #fff 1px solid !important;
}
.MuiPaper-root {
	background-color: #424242 !important;
}

.MuiStepLabel-label.MuiStepLabel-active {
	color: #fff !important;
}

.MuiStepIcon-root.MuiStepIcon-completed,
.MuiStepLabel-completed {
	color: #3dd115 !important;
}

.Mui-focused {
	color: #fff !important;
}

.MuiSelect-icon {
	color: #fff !important;
}

.clock-icon-span .MuiSvgIcon-root {
	height: 0.7em;
}

.MuiButton-textPrimary {
	color: #3dd115 !important;
}

.makeStyles-button-10 {
	margin-top: 0% !important;
}

.MuiGrid-root .MuiFormControl-marginNormal {
	margin-top: 0px !important;
}
.makeStyles-cardText-4,
.grey-text-card {
	color: rgba(255, 255, 255, 0.7) !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-color: #292929 !important;
	color: #fff !important;
	border-color: #3dd115 !important;
}

.nav-link:focus,
.nav-link:hover {
	color: #fff !important;
}

.nav-link {
	color: #fff !important;
}

.nav-tabs {
	border-bottom: 1px solid #3dd115 !important;
}

//Custom Date picker

.react-time-picker__inputGroup input {
	color: #fff;
}

.MuiFormControl-marginNormal {
	margin-top: 12px !important;
}
.react-datepicker__header {
	background-color: #333 !important;
}

.react-datepicker__month-container {
	background-color: #1f1f1f;
}

.react-datepicker-ignore-onclickoutside {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff !important;
}

.react-datepicker__input-container input {
	background-color: transparent !important;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff !important;
	cursor: pointer;
}

//raidform roster

.roster-table-container {
	width: 75% !important;
}

.raid-form-container {
	width: 50% !important;
}

.selected-roster {
	opacity: 0.5;
}

.disabled-button.MuiButton-contained.Mui-disabled {
	color: white;
}

@media (max-width: 768px) {
	.raid-form-container {
		width: 100% !important;
	}
	.roster-table-container {
		width: 100% !important;
	}
}
